* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, #654a86, #534292);
  background-color: #534292;
  font-family: "Public Sans", sans-serif;
  line-height: 1.4;
  height: 100vh;
}

.email,
.password {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.container img {
  height: 5rem;
  width: 8rem;
  margin: 1rem;
  padding: 1rem;
}

h2 {
  text-align: center;
  /* text-transform: uppercase; */
}

#signUp-form {
  font-size: 1.5rem;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 32rem;
  width: auto;
  background-color: rgb(238, 237, 242);
  border-radius: 1rem;
  padding: 1.5rem;
}

#email,
#password {
  height: 2rem;
  padding: 5px;
  border-radius: 0.5rem;
  /* border: 1px solid grey;
     */
  border: 0;
  background-color: #fff;
}

#email-error-msg {
  display: none;
  color: rgb(181, 71, 71);
}

#password-error-msg {
  display: none;
  color: rgb(181, 71, 71);
}

#login-form-submit,
#signUp-form-submit {
  color: #fff;
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  background-color: #60467e;
  border: 0;
  margin: 1rem;
  text-align: center;
  cursor: pointer;
}

#signUp-form-submit a {
  text-decoration: none;
  color: #fff;
}

.submit-flex {
  display: flex;
}

#login-form-submit a {
  text-decoration: none;
  color: #fff;
}

@media only screen and (min-width: 750px) {
  #signUp-form {
    width: 50%;
  }

  .container {
    padding: 0;
  }
}
